//*****************************  Cards Style   *****************************

.card {
  border: none;

  .card-header {
    border-bottom: none;
    background-color: $white;
    padding: 0.75rem 0.9rem;

    .form-control, .custom-select {
      border: none;
      font-size: 110%;
      color: $grey;

      &::placeholder {
        color: $grey;
      }



    }
  }
}



.shadow-sm {
  -webkit-box-shadow:  0 4px 6px 0  rgba(0, 0, 0, 0.075) !important;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.075) !important;
}