//*****************************  Cards Style   *****************************

.card {
  border: none;

  .card-header {
    border-bottom: none;
  }
}



.shadow-sm {
  -webkit-box-shadow:  0 4px 6px 0  rgba(0, 0, 0, 0.075) !important;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.075) !important;
}