//*****************************  Navbar Style   *****************************


.navbar {

  padding: 0.5rem 1rem 0 1rem ;

  .navbar-brand {
    img {
      border-right: 2px solid #B2B1B7 ;
      padding-right: 10px;
    }

    .brand-complement {
      color: #8C9D45;
      text-transform: uppercase;
      font-family: 'DIN';
      font-weight: 300;
      font-style: normal;
      font-size: 1.7rem;
      margin-left: 4px;
      position: relative;
      bottom: -6px;
    }

    margin-left: 30px;
    padding-bottom: 20px;
  }


  .navbar-nav {
    font-weight: 600;

    .active{
      border-bottom: 3px solid $blue;

      .nav-link{
        color: $blue !important;
      }
    }


    .nav-item {
      margin-right: 5px;

      i {
        /*font-size: 130%;*/
        color: #ced4da;
        margin-right: 3px;
      }

      &:hover {
        i {
          color: $blue;
        }
      }

      .nav-link {
        color: $grey;
        letter-spacing: 0.04rem;
        padding-bottom: 15px;

        &:hover {
          color: $blue !important;
        }
      }
    }

    @media (min-width: 768px) {
      margin-bottom: -20px;
    }
  }


}

