//*****************************  Navbar Style   *****************************


.navbar {

  /*padding: 0.5rem 1rem 0 1rem ;*/


  .navbar-brand{

    @media (max-width: 390px) {
      display: contents;

    }
  }



  .navbar-nav {
    font-weight: 600;
    font-size: 12px;

    @media (min-width: 1368px) {
      font-size: 16px;
    }

    .active{
      border-bottom: 3px solid $blue-lighter03;

      .nav-link{
        color: $blue-lighter02 !important;
      }
      &:hover {
        border-bottom: 3px solid $blue-lighter03;
      }
    }


    .nav-item {
      margin-right: 5px;
      @media (min-width: 1368px) {
        margin-right: 20px;
      }

      &:last-child {
        margin-right: 0px;

        @media (min-width: 1368px) {
          margin-right: 45px;
        }
      }

      i {
        /*font-size: 130%;*/
        color: #ced4da;
        margin-right: 3px;
      }

      &:hover {
        i {
          color: $blue;
        }
        /*border-bottom: 3px solid $blue-lighter02;*/
      }

      .nav-link {
        color: $grey;
        letter-spacing: 0.04rem;
        padding-bottom: 15px;

        &:hover {
          color: $blue !important;
        }
      }
    }

    margin-bottom: -20px;

    @media (min-width: 1367px) {
      margin-bottom: -16px;
    }
  }


}




/*

.brand-name {
  text-transform: uppercase;
  font-family: 'DIN';
  font-weight: 300;
  font-style: normal;
  font-size: 1.4rem;
  color: #8C9D45;
}

*/



.brand-logo {
  width: 70%;
}




.svg-logo {
  width:70%;
}
