//*****************************  Tables Style   *****************************


.table {
  thead {
    background: $grey-lighter05;
    border-top: 1px solid #ffffff;

    th{

      &:first-child {
        text-align: center;
        /*padding-left: 1rem;*/
      }
    }
  }

  td {
    border-top: 1px solid $grey-lighter04;
    &:first-child {
      text-align: center;
      padding-left: 0.5rem;
    }
  }
}

.table-hover {
  tbody {
    tr {

      &:hover {
        background: $blue-lighter05;
      }

    }
  }
}

.table-sm {
  td {
    padding: 0.7rem 0.3rem;

    &:first-child {
      padding-left: 0.5rem;
    }
    &:last-child {
      padding-right: 1rem;
    }
  }
}


.fa {
  height: 13px;
  line-height: 13px;
  width: 13px;
}



@media screen and (max-width: 1025px) {
  .event-name {
  max-width: 230px;
  }
  .btn.btn-sm {
    margin-bottom: 7px;
  }
  .subevents-buttons {
    width: 87px;
  }
}


.subevents-buttons {

  @media screen and (max-width: 1025px) {
    /*min-width: 90px;*/
  }
}
